@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This is just a simple application to show the ability to create a simple program that will evaluate the rank of a poker hand.</p>
