@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    333 Busse Hwy<br />
    Unit 913<br />
    Park Ridge, IL 60068<br />
    <abbr title="Phone">P:</abbr>
    847.544.0119
</address>

<address>
    <strong>Job Offers:</strong>   <a href="mailto:gregg@gre.gg">Gregg@gre.gg</a><br />
</address>